body{
    background-image: url(https://images.pexels.com/photos/1307698/pexels-photo-1307698.jpeg?auto=compress&cs=tinysrgb&w=1600);
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
    background-repeat: no-repeat;
    background-size: cover;
     
 }
#main1{
height: 900px;
width: 1200px;
background-image: url(https://images.pexels.com/photos/1307698/pexels-photo-1307698.jpeg?auto=compress&cs=tinysrgb&w=1600);
margin-left: auto;
margin-right: auto;
margin-top: 20px;
border-radius: 50px;
border: black solid 5px;
}
#main1:hover{
border: brown solid 5px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.adana,.kahvaltı,.ıcecek,.hamburger,.pızza,.tavuk{
height: 250px;
width: 300px;
margin-left: 70px;
margin-top: 65px;
border: 2px black solid;
border-radius: 40px;

}

.adana:hover,.kahvaltı:hover,.ıcecek:hover,.hamburger:hover,.pızza:hover,.tavuk:hover{
opacity: 0.5;
height: 270px;
width: 320px;
}
h3{
display: inline;
}

ul{
    color: brown;
    font-size: smaller;
     max-height: 40px;
     overflow: hidden;
     float:left;
     margin-top: 50px;
     margin-left: 72px;
     margin-right: 10px;
     background-size: cover;
     background-image: url(https://images.pexels.com/photos/3324438/pexels-photo-3324438.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
     width: 250px;
     border: rgb(0, 0, 0) solid 4px;
     border-radius: 20px;
  }
  ul:hover{
     max-height: 600px;
     border: brown solid 4px;
    
  }
ul:active{
     max-height: 600px;
     background-color: bisque;
     font-style:oblique;
     opacity: 0.8;
}

a{
    text-decoration: none;
}

li,h3{
    background-color: black;
}